:root {
    --clock-size_h: 90dvh;
    --clock-size_w: 90dvw;
    --gap-size-0: 15px;
    --gap-size-1: 75px;
    --gap-size-2: 90px;
}
body {
    background-image: url('background.jpg');
	background-color: #1e1e1e;
	width: 100dvw;
	height: 100dvh;
	overflow: hidden;
}
div#calendar {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
	overflow:hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}
div#clock {
    color: #2196F3;
    position: relative;
    width: var(--clock-size_w);
    height: var(--clock-size_h);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Open Sans', 'Trocchi', 'Arial', sans-serif
}
div.plate {
    position: absolute;
    border-radius : 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-property: transform;
    transition-timing-function: ease;
    transition-duration: 1s;
}
div#sec-plate {
    width: 100%;
    height: 100%;
    z-index: 1;
}
div#min-plate {
    width: calc(100% - var(--gap-size-1));
    height: calc(100% - var(--gap-size-1));
    z-index: 2;
}
div#hour-plate {
    width: calc(100% - var(--gap-size-1) * 2);
    height: calc(100% - var(--gap-size-1) * 2);
    z-index: 3;
}
div#day-plate {
    width: calc(100% - var(--gap-size-1) * 3);
    height: calc(100% - var(--gap-size-1) * 3);
    z-index: 66;
    font-size: 15px;
}
div#date-plate {
    width: calc(100% - var(--gap-size-1) * 4 - var(--gap-size-0));
    height: calc(100% - var(--gap-size-1) * 4 - var(--gap-size-0));
    z-index: 77;
}
div#month-plate {
    width: calc(100% - var(--gap-size-1) * 5 - var(--gap-size-0));
    height: calc(100% - var(--gap-size-1) * 5 - var(--gap-size-0));
    z-index: 88;
}
div#bran-plate {
    width: calc(var(--gap-size-1) * 3);
    height: calc(var(--gap-size-1) * 3);
    z-index: 88;
}
div#bran-plate > div.child {
    font-size: 13px;
    line-height: 1;
}
div#stem-plate {
    width: calc(var(--gap-size-1) * 2);
    height: calc(var(--gap-size-1) * 2);
    z-index: 88;
}
@media screen and (max-width: 750px), screen and (max-height: 750px) {
    div#bran-plate, div#stem-plate {
        display: none;
    }
}
@media screen and (max-width: 550px), screen and (max-height: 550px) {
    div#month-plate {
        display: none;
    }
}
@media screen and (max-width: 450px), screen and (max-height: 450px) {
    div#date-plate {
        display: none;
    }
    div#clock {
        font-size: 12px;
    }
    div#year-plate {
        font-size: 15px;
    }
}
@media screen and (max-width: 350px), screen and (max-height: 350px) {
    div#day-plate {
        display: none;
    }
}
div#stem-plate > div.child {
    font-size: 13px;
    line-height: 1;
}
div#year-plate {
    /*width: 10%;
    height: 10%;*/
    z-index: 99;
    font-weight: 700;
    font-size: 18px;
}
div.elem {
    position: absolute;
    background : transparent;
    text-align: right;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.child {
    width : 100%;
    transition-property: transform;
    transition-timing-function: ease-out;
}
.highlight {
    font-weight: 700;
    color: #FFC107;
}